*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background-image: url("./images/desktop-bg-img.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 35px;
    border-radius: 1rem;
}
.container p{
    font-weight: 600;
    font-size: 1.1rem;
    align-self: flex-start;

}
.container input{
    width: 100%;
    height: 2.7rem;
    font-size: 1.1rem;
    border: 2px solid #AAC4F5;
    outline: 0;
    border-radius: 5px;
    padding-left: 3px;
}
.btn{
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    outline: 0;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    background-color: #4D2B8C;
}
.imgBox{
    display: none;
    background-color: white;
    border: 2px solid #76a1f2;
    padding: 10px;
    border-radius: 5px;
}
.imgBox-visible{
    display: block;
}

.error{
    animation: shake 0.1s linear 8;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-3px);
    }
    50%{
        transform: translateX(0px);

    }
    75%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media(max-width: 768px) {
    body{
        height: 90vh;
        background-image: url("./images/mobile-bg-img.avif");
    }
    .container{
        width: 340px;
        padding: 20px;
    }
    .container p{
        font-size: 1rem;
    }
    .container input{
        height: 2.2rem;
        font-size: 0.9rem;
        font-weight: 600;
    }
    .btn{
        height: 2.2rem;
        font-size: 0.8rem;
    }
}